@import "fonts.scss";
@import "var.scss";




body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}





.index {
  //border: $border;
  display: flex;
  //width: 100vw;
  //height: 100vh;
    &__wrapper {
      //border: $border;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    &__regblock {
      //border: $border;
      display: flex;
      justify-content: center;
      height: 40px;
      width: 100%;
      background-color: $colorlightgray;
    }
    &__regblockwrp {
      //border: $border;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 80%;
        i {
          //border: $border;
          color: $colorgray;
          font-size: 1rem;
        }
        a {
          text-decoration: none;
          color: $colorgray;
          margin-left: 10px;
          font-family: Montserrat-Regular;
          font-size: 0.85rem;
        }
    }

    &__logoblock {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100px;
    }
    &__logoblockwrp {
      //border: $border;
      display: flex;
      width: 80%;
    }
    &__logoblockphone {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
        i {
          //border: $border;
          font-size: 1.5rem;
        }
        span {
          font-family: Montserrat-Regular;
          font-size: 1.3rem;
          margin-left: 10px;
        }
    }
    &__logoblockpict {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 50%;
        a {
          //border: $border;
          display: flex;
          align-items: center;
          img {
            //border: $border;
            height: 85%;
          }
        }
    }
    &__logoblockbasket {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 25%;
        a {
          //border: $border;
          display: flex;
          align-items: center;
            img {
              //border: $border;
              width: 40px;
            }
        }
    }

    &__menublock {
      //border: $border;
      display: flex;
      justify-content: center;
      height: 55px;
      background-color: $colorgreenbrand;
    }
    &__menublockwrp {
      //border: $border;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 80%;
        a {
          //border: $border;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: white;
          font-size: 1.1rem;
          font-family: Montserrat-Regular;
          transition: $transition;
          flex-grow: 1;
          height: 100%;
            &:hover {
              font-weight: bold;
              transition: $transition;
              color: $colorgreenbrand;
              background-color: white;
            }
        }
    }

    &__sliderblock {
      //border: $border;
      display: flex;
      height: 500px;
    }
    &__sliderblockwrp {
      //border: $border;
      display: flex;
      width: 100%;
      height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
    }

    &__infoblock {
      //border: $border;
      display: flex;
      justify-content: center;
      height: 140px;
      background-color: #f1f1f1;
    }
    &__infoblockwrp {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 80%;
    }
    &__info {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
        i {
          //border: $border;
          border-radius: 50%;
          font-size: 1.5rem;
          padding: 15px;
          background-color: $colorgreenbrand;
          color: white;
        }
        span {
          font-family: Montserrat-Regular;
          margin-left: 10px;
          font-size: 0.9rem;
        }
    }

    &__popcategories {
      //border: $border;
      display: flex;
      //height: 500px;
    }
    &__popcategorieswrp {
      //border: $border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    &__popcategorieshdr {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      margin: 30px 0;
        span {
          //border: $border;
          font-size: 2rem;
          font-family: Montserrat-Regular;
        }
    }
    &__popcategoriescartblock {
      //border: $border;
      display: flex;
      justify-content: center;
    }
    &__popcategoriescartblockwrp {
      //border: $border;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
    }
    &__popcategoriescart {
      //border: $border;
      display: flex;
      width: 370px;
      height: 270px;
      margin: 30px;
        a {
          //border: $border;
          width: 100%;
          height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
        }
    }

    &__newproducts {
      border: $border;
      display: flex;
    }
    &__newproductswrp {
      border: $border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    &__newproductshdr {
      border: $border;
      display: flex;
      justify-content: center;
      margin: 30px 0;
        span {
          font-size: 2rem;
          font-family: Montserrat-Regular;
        }
    }
    &__newproductcardsblock {
      border: $border;
      display: flex;
      justify-content: center;
      //height: 300px;
    }
    &__newproductcardsblockwrp {
      border: $border;
      display: flex;
      width: 80%;
      //height: 100px;
    }
    &__newproductcart {
      border: $border;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 600px;
    }
    &__newproductcartimg {
      border: $border;
      display: flex;
      width: 300px;
      height: 300px;
        img {
          width: 100%;
          height: 100%;
        }
    }
    &__newproductcartdesc {
      border: $border;
      display: flex;
      justify-content: center;
        span {
          border: $border;
          font-family: Montserrat-Regular;
          font-size: 0.9rem;
          width: 90%;
        }
    }
    &__newproductcartprice {
      border: $border;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
        span {
          border: $border;
          font-family: Montserrat-Regular;
          font-size: 2rem;
            &:nth-child(1) {
              font-weight: bold;
              font-size: 2.5rem;
            }
            &:nth-child(2) {
              align-self: flex-end;
            }
        }
    }






}