@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/assets/users/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Play-Bold";
  src: url("/public/assets/users/fonts/Play-Bold.ttf");
}
@font-face {
  font-family: "Play-Regular";
  src: url("/public/assets/users/fonts/Play-Regular.ttf");
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

.index {
  display: flex;
}
.index__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.index__regblock {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: #f8f8f8;
}
.index__regblockwrp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}
.index__regblockwrp i {
  color: #818183;
  font-size: 1rem;
}
.index__regblockwrp a {
  text-decoration: none;
  color: #818183;
  margin-left: 10px;
  font-family: Montserrat-Regular;
  font-size: 0.85rem;
}
.index__logoblock {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.index__logoblockwrp {
  display: flex;
  width: 80%;
}
.index__logoblockphone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.index__logoblockphone i {
  font-size: 1.5rem;
}
.index__logoblockphone span {
  font-family: Montserrat-Regular;
  font-size: 1.3rem;
  margin-left: 10px;
}
.index__logoblockpict {
  display: flex;
  justify-content: center;
  width: 50%;
}
.index__logoblockpict a {
  display: flex;
  align-items: center;
}
.index__logoblockpict a img {
  height: 70%;
}
.index__logoblockbasket {
  display: flex;
  justify-content: center;
  width: 25%;
}
.index__logoblockbasket a {
  display: flex;
  align-items: center;
}
.index__logoblockbasket a img {
  width: 40px;
}
.index__menublock {
  display: flex;
  justify-content: center;
  height: 55px;
  background-color: #00910e;
}
.index__menublockwrp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.index__menublockwrp a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
  flex-grow: 1;
  height: 100%;
}
.index__menublockwrp a:hover {
  font-weight: bold;
  transition: ease-in-out 0.5s;
  color: #00910e;
  background-color: white;
}
.index__sliderblock {
  display: flex;
  height: 500px;
}
.index__sliderblockwrp {
  display: flex;
  width: 100%;
  height: 100%;
}
.index__sliderblockwrp img {
  width: 100%;
  height: 100%;
}
.index__infoblock {
  display: flex;
  justify-content: center;
  height: 140px;
  background-color: #f1f1f1;
}
.index__infoblockwrp {
  display: flex;
  justify-content: center;
  width: 80%;
}
.index__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}
.index__info i {
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 15px;
  background-color: #00910e;
  color: white;
}
.index__info span {
  font-family: Montserrat-Regular;
  margin-left: 10px;
  font-size: 0.9rem;
}
.index__popcategories {
  display: flex;
}
.index__popcategorieswrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.index__popcategorieshdr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin: 30px 0;
}
.index__popcategorieshdr span {
  font-size: 2rem;
  font-family: Montserrat-Regular;
}
.index__popcategoriescartblock {
  display: flex;
  justify-content: center;
}
.index__popcategoriescartblockwrp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.index__popcategoriescart {
  display: flex;
  width: 370px;
  height: 270px;
  margin: 30px;
}
.index__popcategoriescart a {
  width: 100%;
  height: 100%;
}
.index__popcategoriescart a img {
  width: 100%;
  height: 100%;
}
.index__newproducts {
  display: flex;
}
.index__newproductswrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.index__newproductshdr {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.index__newproductshdr span {
  font-size: 2rem;
  font-family: Montserrat-Regular;
}
.index__newproductcardsblock {
  display: flex;
  justify-content: center;
}
.index__newproductcardsblockwrp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}
.index__newproductcart {
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px 30px;
}
.index__newproductcartimg {
  display: flex;
  width: 300px;
  height: 300px;
}
.index__newproductcartimg img {
  width: 100%;
  height: 100%;
}
.index__newproductcartdesc {
  display: flex;
  justify-content: center;
}
.index__newproductcartdesc span {
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
  width: 90%;
}
.index__newproductcartprice {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.index__newproductcartprice span {
  font-family: Montserrat-Regular;
  font-size: 1.5rem;
}
.index__newproductcartprice span:nth-child(1) {
  font-weight: bold;
  font-size: 2.3rem;
}
.index__newproductcartprice span:nth-child(2) {
  align-self: flex-end;
  margin: 0 10px;
}
.index__newproductcartbtns {
  display: flex;
  width: 100%;
  margin: 10px 0;
}
.index__newproductcartbtns form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.index__newproductcartbtns form button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: Montserrat-Regular;
}
.index__newproductcartbtns form button:nth-child(1) {
  width: 120px;
  height: 40px;
  background-color: #F5722C;
  color: white;
}
.index__newproductcartbtns form button:nth-child(2) {
  width: 150px;
  height: 40px;
}
.index__partners {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  margin: 50px 0;
  height: 150px;
}
.index__partnerswrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.index__partnerswrp img {
  height: 50%;
  margin: 0 20px;
}
.index__footer {
  display: flex;
  height: 500px;
  margin-top: 10px;
  background-color: #F6F6F8;
}
.index__footerwrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.index__footerinfo {
  display: flex;
  height: 450px;
}
.index__footerinfoblock {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.index__footerinfoblockhdr {
  display: flex;
  height: 80px;
}
.index__footerinfoblockhdr span {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-left: 50px;
  font-size: 1.1rem;
  font-family: Montserrat-Regular;
  font-weight: bold;
}
.index__footerinfoblocklinks {
  display: flex;
  flex-direction: column;
  height: 360px;
}
.index__footerinfoblocklinks a {
  font-family: Montserrat-Regular;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  margin: 10px 0 10px 50px;
}
.index__footerinfoblocklinks span {
  font-family: Montserrat-Regular;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  margin: 10px 0 10px 50px;
}
.index__footerinfoblocklinks span i {
  margin-right: 10px;
}
.index__footerinfoblocklinks form {
  display: flex;
  justify-content: center;
  height: 100%;
}
.index__footerinfoblocklinks form input {
  border: 1px solid lightgrey;
  width: 70%;
  height: 45px;
  margin-top: 10px;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  padding-left: 10px;
}
.index__footerinfoblocklinks form button {
  border: none;
  background-color: #00910e;
  width: 49px;
  height: 49px;
  margin-top: 10px;
  cursor: pointer;
}
.index__footerinfoblocklinks form button i {
  color: white;
}
.index__footercopyright {
  display: flex;
  justify-content: center;
  height: 50px;
}
.index__footercopyright span {
  display: flex;
  align-items: center;
  font-family: Montserrat-Regular;
  font-size: 1rem;
}
